<h1>your list</h1>

<%# create new item to add to the list %>
<%= form_with(model:@item) do |form| %>
  <%= form.label :name, "Item name:" %>
  <%= form.text_field :name, required: true %>
  <%= form.submit "Add" %>
<% end %>


<%# list of item %>

<% @items.each do |item| %>
  <p><%= item.name %></p>
<% end %>

