<h1>your list</h1>

<%# create new item to add to the list %>
<%= form_with(model:@item) do |form| %>
  <%= form.label :name, "Item name:" %>
  <%= form.text_field :name, required: true %>
  <%= form.submit "Add" %>
<% end %>

<%# destroy all buttom %>
<%= link_to "Delete all",
                   items_destroy_path,
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete all items in the list?"}
       %>
<%# list of item %>
<ul>
  <% @items.each do |item| %>
    <li>
      <strong><%= item.name %></strong>
      <%= link_to "Delete",
                  item_path(item),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{item.name}?"}
       %>
    </li>
  <% end %>
</ul>
