

<div class="container">
  <%# create new item to add to the list %>

  <%= form_with(model:@item, html: {class: "form-item"}) do |form| %>
    <%= form.label :name, "Item name:", class: "label" %>
    <%= form.text_field :name, required: true, class: "input" %>
    <%= form.submit "Add", class: "btn call-to-action"  %>
  <% end %>

  <%# destroy all buttom %>
  <% if @items.length > 0 %>
    <div class="center">
      <%= link_to "Delete all",
                        items_destroy_path,
                        data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete all items in the list?"},
                        class: "btn no-decoration delete "
            %>
    </div>
  <% end %>
  <%# list of item %>

  <% @items.each do |item| %>
    <div class="card">
      <strong class="item-name"><%= item.name %></strong>
      <%= link_to "X",
                  item_path(item),
                  data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{item.name}?"},
                  class: "btn-round no-decoration delete"
      %>
    </div>
  <% end %>
  

</div>